.header {
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
max-width: auto;
height: 62px;

background-color: #15421C;
}

.logopri {
    padding: 40px !important;
    width: 100%;
    max-width: 121px;
    min-width: 121px;
}
.ulheader {
    display: flex;
    align-items: center;
}

.ulcontato {
    padding-left: 30px;
    display: flex;
    align-items: center;
}

.nav {
    padding-right: 2%;
}

.nucleo{
padding: 15px;

text-decoration: none;
font-family: 'Khand', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
background: none;
white-space: nowrap;
        
color: #FFFFFF;
}

.nucleo:hover {
    color: #b2c9b7;
    transition: 0,8s;
}

.contato {
background-image: url("../images/contato.png");
width: 140px;
max-width: 140px;
height: 35px;
font-size: 15px;
color:#000000;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
background-color: #fff;
border: none;
border-radius: 50px;
transition-duration: 0.2s;
font-family: 'Khand', sans-serif;
}

.contato:hover {
    border: 1px solid #000000;
}

.maincont {
    background-image: url("../images/fundo.png");
    background-color: #15421C;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    max-height: 1080px;
}

.textop {

min-width: 666px;
max-width: 666px;
height: 214px;
            
font-family: 'Khand', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 76px;
            
color: #FFFFFF;
}

.logo{
    min-width: 250px;
    width: auto;
    height: auto;
}


.textandlogo {
    display: flex;
    justify-content: space-between;
    padding: 200px;
}

.midcont {
    background-color: #EBEBEB;
    background-size: 100%;
    width: 100%;
    height: 985px;
    }

.mid2cont {
    background-color: #FFFFFF;
    background-size: 100%;
    width: 100%;
    height: 735px;
    }

.flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1000px;
}

.flex > div {
    flex: 1 1 253px;
    margin: 40px;
}

.ldp {

text-align: center;
padding: 80px;
height: 50px;
font-family: 'Lexend';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 50px;
    
    
color: #15421C;
}

.rectan{
width: 253px;
min-width: 253px;
max-width: 253px;
height: 245px;

        
background: #FFFFFF;
border-radius: 20px;

}

.figure {
text-align: center;
margin-top: 30px;
}

.figdesc {
text-align: center;
margin-top: 30px;

font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;
text-align: center;

color: #000000;
}

.rec2 {
width: 292px;
max-width: 292px;
height: 390px;
    
background: #EBEBEB;
border-radius: 20px;
}

.flex2{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1200px;
}

.flex2 > div {
    flex: 1 1 292px;
    margin: 20px;
    margin-top: 150px;
}

.seci{
    text-align: center;
    margin-top: 20px;
}

.rec2h1 {
margin-left: 30px;
margin-top: 10px;

font-family: 'Lexend';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 31px;

color: #15421C;
}

.rec2desc {
margin-left: 30px;
margin-top: 10px;

font-family: 'Anaheim';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 32px;

color: #000000;
}

.footer {
    background-image: url("../images/footerback.png");
    background-color: #15421C;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 800px;
}